
.col{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    margin-block: 10px;
    border-radius: 20px;
    
}

.row{
    display: flex;
    flex-direction: column;
    
}
.box{
    
   display: flex;
   flex-direction: row;
   gap: 30px;
   width : 500px;
   margin: 0 auto;
}

.col{
    padding: 10px;
}

.info{
   display: grid;
   place-items: center;
   margin-right: 8rem;
    

}

.box1{
    background-color: palevioletred;

}

.box2{
    background:lightskyblue;

}

.box3{
    background-color: orange;

}

.box4{
    background: plum;
}

.flash{
    background: white;
}

.userflash{
    background: greenyellow;
}

.gameover{
    background: red;
}


